.center {
	margin: auto;
}

.clearfix {
    overflow: auto;
}

.text-dark {
	color: #2C3E50 !important;
}
#mainNav {
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}
li.nav-item a {
	color: #FFFFFF !important;
}
li.nav-item a:hover {
	color: #57B4AD !important;
	background: #FFFFFF !important;
	transition: color .15s 
		ease-in-out,background-color .15s
		ease-in-out,border-color .15s
		ease-in-out,box-shadow .15s
		ease-in-out;
}
a.nav-link.active {
	background: #E79686 !important;
}

a.navbar-brand.js-scroll-trigger img {
	max-width: 60px;
}

.img-branding img {
	width: 100%;
	max-width: 900px;
}
.img-separator img {
	width: 100%;
	margin: 0 auto;
	max-width: 400px;
	display: block;
	padding-top: 15px;
	padding-bottom: 25px;
}


.bg-primary {
	background-color: #FFFFFF !important;
}
.bg-secondary {
	background-color: #8A8F9D !important;
}

.btn-primary {
  background-color: #E79686;
  border-color: #E87660;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #E87660;
  border-color: #E79686;
}
.btn-social {
	color: white !important;
	background-color: transparent !important;
	border-color: white !important;
}
.btn-social:hover {
	background-color: #E87660 !important;
	border-color: #E79686 !important;
}
.btn-outline-light {
	color: white !important;
	background-color: #E79686;
	border-color: #E87660;
}
.btn-outline-light:hover {
	background-color: #E87660;
	border-color: #E79686;
}


.text-header-light {
  color: #FFFFFF;
}

h2.text-secondary.text-uppercase.mb-0 {
	color: #2C3E50 !important;
}
a.close-button.d-none.d-md-block.portfolio-modal-dismiss {
	color: #E79686 !important;
}

hr.triangle-light,
hr.triangle-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.triangle-light:after,
hr.triangle-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.triangle-light {
  border-color: #fff;
}
hr.triangle-light:after {
  color: #fff;
  background-color: #57B4AD;
}
hr.triangle-dark {
  border-color: #2C3E50;
}
hr.triangle-dark:after {
  color: #2C3E50;
  background-color: #FFFFFF;
}


.portfolio {
	background-color: #57B4AD;
}
.portfolio .portfolio-item .portfolio-item-caption {
  background-color: #E79686;
}
#contact {
	background-color: #57B4AD;
}
.copyright {
	background-color: #2c3e50 !important;
	padding-top: 2rem;
}
.footer {
	padding-top: 3rem !important;
	padding-bottom: 2rem !important;
}


/* Create two equal columns that floats next to each other */
.project-column {
	float:left;
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

.ul-margin {
	margin: auto;
}
.project-column p, .project-column li  {
	text-align: left;
}
/* Clear floats after the columns */
.project-row:after {
    content: "";
    display: table;
    clear: both;
}

.headline-left {
	text-align: left;
}


h2.font-weight-light.mb-0 {
	color: #57B4AD !important;
}


@media(max-width:400px) {
	a.navbar-brand.js-scroll-trigger img {
  		max-width: 70px;
	}
	/*header.masthead {
		padding-top: calc(12rem + 72px);
	}*/
}

@media(max-width:900px) {
	.project-column {
		width: 100%;
	}
}

